<!DOCTYPE html>
<html lang="en">

<head>
    {% load static %}
    <link rel="stylesheet" href="{% static 'rawr.css'   %}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'rawr.css' %}">
    <title>Zippy Shop!</title>
    <script src="rawr.js"></script>
</head>

<body>

    <div class="table">
        <nav>
            <tr><a id="Logo" href="#">Zippy Shop</a></tr>
            <tr><a id="Home" href="#">Home</a></tr>
            <tr><a id="Product" href="#">Product</a></tr>
            <tr><a id="About" href="#">About</a></tr>
            <tr><a id="Contact" href="#">Contact</a></tr>
        </nav>
    </div>

    <div class="display1">
        <h1>display</h1>
        
    </div>

</body>

</html>