.signup-container {
    display:block;
    position: fixed;
    margin: auto 700px;
    margin-top: 100px;
    border: 1px solid black;
    width: 30vw;
    height: 30vh;
    padding-bottom: 400px;
    background-color: rgb(114, 101, 92);
    border-radius: 10px;
    box-shadow: 10px 5px 10px black;
}

.signup-header {
    text-align: center;
    margin: 50px auto;
    font-size: 40px;
    color: rgb(145, 95, 34);
    filter: brightness(1.4) contrast(1.5);
}
body {
    background-color: rgb(0, 0, 0, 0.9);
}

.signup-container input {
    color: rgb(0, 0, 0);
    border: 3px solid black;
    padding: 15px;
    border-radius: 30px;
    box-sizing: border-box;
}


.passuser-container {
    margin-left: 200px;
    margin-top: 50px;
}

.passuser-container a {
    text-decoration: none;
    border: 2px solid black;
    padding: 5px;
    height: 4vh;
    width: 3vw;
    border-radius: 10px;
    background-color: rgb(11, 129, 129);
    color: white;
}

.passuser-container a :hover {
    background-color: red;
}

.passuser-container a :active {
    background-color: black;
}

#password {
    margin-top: 15px;
}

#email {
    margin-top: 15px;
}

#dateofbirth {
    margin-top: 15px;
}

#submit {
    margin-top: 15px;
}

.loginbutton a {
    display: block;
    margin-left: 1500px;
    margin-top: 30px auto;
    text-decoration: none;
    color: white;
    border: 2px solid white;
    border-radius: 15px;
    padding: 8px;
    width: 3vw;
    background-color: rgb(63, 19, 19);
}